body {
  font-family: sans-serif;
  background: rgb(70, 221, 33);
  color: white;
}

/* Form */

.input-wrapper {
}

.input-wrapper .label {
  font-size: 2em;
  font-weight: bold;
  display: block;
  margin-bottom: .5em;
  margin-top: .5em;
}

.entry-box {
  background: rgb(79, 184, 42);
  color: white;
  text-align: center;
  font-weight: bold;
  border: none;
}

/* Main */

.main {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  text-align: center;
}

.main-header {
  font-size: 4em;
}

.main-subheader {
  font-size: 2.5em;
  color: #f8f8f8;
  font-weight: 400;
}

.main-box {
  font-size: 5em;
  min-width: 128px;
  max-width: 512px;
}

.sub-box {
  font-size: 2em;
  min-width: 128px;
  max-width: 512px;
  padding: 1em 0;
}

/* Search */

.hi {
  background: rgba(255, 255, 0, 0.3);
}

.search-results {
  min-width: 128px;
  max-width: 512px;
  background: rgba(80, 80, 80, .4);
  margin: auto;
  position: relative;
  top: -32px;

  max-height: 256px;
  overflow-y: scroll;

  scrollbar-color: rgba(160, 160, 160, .6) rgba(80, 80, 80, .6);
  scrollbar-width: auto;
}

.search-result {
  text-align: left;
  padding: .25em;
  padding-left: 1em;
  background: rgba(80, 80, 80, .4);
}

.search-result:hover {
  background: rgb(112, 214, 57);
}
.search-result > * {
  margin: 0 !important;
}

.search-match {
  /* margin-right: 8px !important; */
  display: block;
}
